# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Octopress'
      'submenu': [
        { 'label': 'Latest post', 'command': 'octopress-latest-post:find' }
      ]
    ]
  }
]
